body{

  background: linear-gradient(to right, #9c27b0,#8ecdff);
  
}

.card {
  width: 18em;
  margin: 10px;
}

.users{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.container {
  text-align: center;


}

.btn-group {

  margin-top: 5%;
  margin-bottom: 5%;

}