body{

  background: linear-gradient(to right, #9c27b0,#8ecdff);
  
}

.card {

  width: 18em;

  margin: 10px;

}

.users{
  display: flex;
  flex-direction: column wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}


.container {
  text-align: center;


}

.card-body{
  background: linear-gradient(to right, #2799b0,#7a2c92);
 

}

.card-img-top{
  background: transparent;

  width: 100%;
  height: 40vmin;
  object-fit: cover;

}
